{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
    
<div class="product_container">
    <div class="product_header">
        <h1 class="product_title">Product Store brought to you by our vendors!</h1>
        <h3 class="product_subtitle">Products are made or imported by the great companies that keeps the high standards for quality. True to the traditions, the products presented by vendors bring the flavours of Greece to your table.</h3>
        <p class="product_content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ex possimus qui quidem perferendis officia architecto commodi, tempora obcaecati ducimus!
        </p>
        {% if user.is_authenticated %}
            Welcome,{{request.user.first_name}}           
            <a type="button" href="{% url 'add_product'  %}">Add Product</a>
        {% endif %}
        

    </div>

    <section class="product_card">
        <div class="product_card-box">
            <div class="product_wrapper">
                <!-- CARD ITEM(S) -->

                {% for p in products %}
                    <div class="product_card-item">
                        <img src="{% get_media_prefix %}{{p.p_img}}" alt="{{p.p_name}}">
                        <h2 class="product_title">{{p.p_name}}</h2>
                        <div class="product_rating">
                            <i class='bx bx-like'></i>
                            <span class="likes">{{ p.p_likes }}</span>
                        </div>
                        <p class="p.p_desc">
                            {{p.p_desc}}
                        </p>
                        <div class="producer">
                            <h3>Producer</h3>
                            {{ p.producer }}
                        </div>
                        <div class="category">
                            <h4>Category</h4>
                            <i>{{ p.category}}</i>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
    
</div>

{% endblock content %}