@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #88ffa0;
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    /* font-family: 'Open Sans', sans-serif; */
}


body {
    height: 100vh;
    background-color: #F8F9F9;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal; 
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

a:hover{
    color: coral;
}




/* Multilang */

.langWrap {
    font-size: .5rem;
    margin-top: 5px;
    font-weight: 500;
    background-color: #000;
}

.langWrap  a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.langWrap  a.active {
    background-color: #E74C3C;
}
.flag {
    width: 30px;
    height: auto;
    padding: 2px;
    
}


/*================== CONTAINER ==================== */


/* .container {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
   
} */





/* ==================== HEADER ====================*/

header{
    position: relative;
    padding: 0 2rem;
    margin-bottom: 15px;
    box-shadow: 0px 6px 4px 0px rgba(222,222,222,1);
}

.navbar{
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}


.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* NAVBAR Dropdown Menu */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    /* width: 300px; */
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 550px;
}


.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 40px;
    padding: 12px;
}

.logo a{
    font-weight: 700;
    color: #808000;
}


/* ==================== RESPONSIVE DESIGN  ====================*/

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}


@media(max-width: 576px){
    /* .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    } */

    .dropdown_menu{
       left: 0;
       /* width: unset; */
    }

}

/* ====================  HERO ==================== */



.main {
    /* max-width: 1200px; */
    padding: 15px ;
    display: flex;
    justify-content: center;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
}

.main__hero {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.main__hero p {
    margin: 20px;
}



.section__article {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__article img{
    width: 600px;
    height: auto;
    object-fit: contain;
}


/* =============== FOOD CHANNELS PAGES ================= */


.food_container {
    width: 100%;
    overflow: hidden;
    /* font-size: 60%; */
    background-color: var(--bg-color);
    color: var(--text-color);
    /* height: 100vh; */
}

.food_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    /* background-color: lightgray; */
}

.food_header a {
    color: white;
}

.food_title {
    font-size: 1.5rem;
    margin-top:20px;
    margin-bottom: 10px;
}

.food_subtitle {
    font-size: 1.3rem;
}

.food_content {
    font-size: 1.1rem;
}


section {
    min-height: 100vh;
    padding: 12rem 12% 10rem;
}

/*  FOOD CARD */
.food_card {
    background-color: var(--second-bg-color);
}

.food_card-box {
    block-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food_card-box img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.food_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.food_card-item {
    min-height: 350px;
    min-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(236,236,236, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.food_card-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 0 50px var(--main-color);
}

.food_card-item p {
    font-size: 1.3rem;

}

#star {
    color: gold;
    font-size: 2rem;
}


/*  FOOD RESPONSIVE */
@media (max-width: 1800px) {
    .food_container{
        font-size: 50%;
    }
    .food_card .food_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1285px) {
    .food_container{
        font-size: 50%;
    }
    .food_card .food_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .food_card .food_wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .food_header {
        margin-left: 5px;
        margin-right: 5px;
    }
}



/* ==================== VENDORS =================== */
.vendor_container{
    background-color: rgba(101, 115, 131, 0.5); 
    width: 100%;
    overflow: hidden;
    color: #000;
}
.vendor_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.food_header a {
    color: white;
}

.vendor_title{
    font-size: 1.5rem;
    margin-top:20px;
    margin-bottom: 10px;
}

.vendor_subtitle{
    font-size: 1.1rem;
    margin: 10px ;
}

.vendor_content{
    font-size: 1.2rem;
}


section {
    min-height: 100vh;
    padding: 12rem 12% 10rem;
}

/* Vendor Card  */

.vendor_card{
    background-color: rgba(229, 228, 226, 0.5);
}

.vendor_card-box{
    block-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vendor_card-box img {
    width: 15rem;
    border-radius: 50%;
    border: 5px solid #616D7E;
}

.vendor_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.vendor_card-item{
    min-height: 350px;
    min-width: 450px;
    background-color: #DADBDD;
    border: 3px solid rgba(97, 109, 126, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #000;
    transition: 0.4s ease-in-out;
}


.vendor_card-item:hover {
    border: 3px solid slateblue;
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 0 50px slategray;
}

.vendor_desc{
    font-size: 1.1rem;
}



/*  Vendor RESPONSIVE */
@media (max-width: 1800px) {
    .vendor_container{
        font-size: 50%;
    }
    .vendor_card .vendor_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1285px) {
    .vendor_container{
        font-size: 50%;
    }
    .vendor_card .vendor_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .vendor_card .vendor_wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .vendor_header {
        margin-left: 5px;
        margin-right: 5px;
    }
}


/* ========================= PRODUCTS ==========================*/


.product_container{
    background-color: #E9E4D4;   /* Ash White */
    width: 100%;
    overflow: hidden;
    color: #000;
}
.product_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.food_header a {
    color: #8E35EF; /* purple plum*/
}

.product_title{
    font-size: 1.5rem;
    margin-top:20px;
    margin-bottom: 10px;
}

.product_subtitle{
    font-size: 1.1rem;
    margin: 10px ;
}

.product_content{
    font-size: 1.2rem;
}


section {
    min-height: 100vh;
    padding: 12rem 12% 10rem;
}

/* product Card  */

.product_card{
    background-color: rgba(251, 251, 249, 0.5);
}

.product_card-box{
    block-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product_card-box img {
    width: 15rem;
    border-radius: 50%;
    border: 5px solid #FEF0E3;  /* OldLace*/
}

.product_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.product_card-item{
    min-height: 350px;
    min-width: 450px;
    background-color: #EFEBD8; /* Warm White */
    border: 3px solid rgba(233, 171, 23, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #000;
    transition: 0.4s ease-in-out;
}


.product_card-item:hover {
    border: 3px solid #EDC9AF; /* Desert Sand */
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 0 50px #C4AEAD; /* Silver Pink*/
}

.product_desc{
    font-size: 1.1rem;
}



@media (max-width: 1800px) {
    .product_container{
        font-size: 50%;
    }
    .product_card .product_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1285px) {
    .product_container{
        font-size: 50%;
    }
    .product_card .product_wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 991px) {
 
    .product_card .product_wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .product_header {
        margin-left: 5px;
        margin-right: 5px;
    }
}


/* ==================== DASHBOARD =============== */

.dashboard {
    background-color: #666362;
    width: 1200px;
    min-height: 100vh;
    color: white;
    margin: auto;
}

.dashboard nav {
    width: 100%;
    background-color: #888B90 ;
}






/* ===================== BLOG STYLES ===================== */
.blog_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog_header{
    width: 100%;
    height: 50px;
}

.blog_title{
    font-size: xx-large;
    color: #000;
}
.main_section{
    display: flex;
    gap: 10px;
}
.new_post{
    background-color:  lightblue;
}
.post_title{
    font-size: medium;
    color: #000;
}
.post_article{
    font-size: 1rem;
}
.older_posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post_box{
    background-color: lightgray;
}

.post_box h2 {
    font-size: 1.2rem;
}