
*{
    outline: none;
    border: none;

}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #88ffa0;
    }


.food_container {
    width: 100%;
    overflow: hidden;
    font-size: 60%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.food_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}


.food_title {
    font-size: 1.2rem;
    margin: ;
}

.food_subtitle {
    font-size: 1.1rem;
}

.food_content {
    font-size: .9rem;
}