{% extends 'portal/base.html' %}
{% load static %}

{% block title %} Add Food Channel {% endblock %}
{% block content %}
    <h1>Add Food Ambassador</h1>

    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"class="btn btn-outline-primary">Upload</button>
    </form>

    <a type="button" href="{% url 'food'  %}">
        <i class='bx bx-bowl-hot'></i>
        Back to  Food Stories</a>
    <br>

    
{% endblock content %}