{% extends 'portal/base.html' %}
{% load static %}

{% block title %} Food of Greece {% endblock %}
{% block content %}
    
    <div class="food_container">
        <div class="food_header">
            <h1 class="food_title">Food Stories</h1>
            <h3 class="food_subtitle">Food and products presented to you by the ambassadors of Greek cooking.</h3>
            <p class="food_content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ex possimus qui quidem perferendis officia architecto commodi, tempora obcaecati ducimus!
            </p>
            {% if user.is_authenticated %}
                Welcome,{{request.user.first_name}}  
                <a type="button" href="{% url 'add_channel'  %}">Add Food Ambassador</a>
            {% endif %}
        </div>

        <section class="food_card">
            <div class="food_card-box">
                <div class="food_wrapper">
                    <!-- CARD ITEM(S) -->

                    {% for f in foodies %}
                   <a href="{{ f.channel_link }}" target="_blank">
                    <div class="food_card-item">
                        <img src="{% get_media_prefix %}{{f.channel_img}}" alt="{{f.channel_name}}">
                        <h2 class="foody_title">{{f.channel_name}}</h2>
                        <div class="food_rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p class="foody_desc">
                            {{f.channel_description}}
                        </p>
                    </div>
                </a>
                    {% endfor %}

                </div>
            </div>
        </section>
        
    </div>

    


{% endblock content %}