
{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

    
    <h1 class="l_title">Portal</h1>
    <h2 class="l_subtitle">Get to know the Delightful Greece</h2>
    <p class="l_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat consequatur, ipsum voluptatibus quasi id eius nulla amet perspiciatis explicabo officia. Quis expedita eligendi dicta repudiandae maxime, voluptas quos temporibus.</p>
    
    <div class="section__article">
        <img src="{% static 'img/Gerakona.jpg' %}" alt="">
    </div>
    


{% endblock content %}