  <!--  Header -->
  <header id="header">
    <div class="navbar">
        <div class="logo"><a href="#">Deli Greece</a></div>

        <ul class="links">
            <li>
                <a href="{% url 'home' %}">
                    <i class="ri-home-line"></i>Home
                </a>
            </li>
            <li>
                <a href="{% url 'products' %}">Products</a>
            </li>
            <li><a href="{% url 'vendors' %}">Vendors</a></li>
            <li><a href="{% url 'food' %}"><i class='bx bx-bowl-hot'></i>Food Stories</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="toggle_btn" id="toggle-btn">
            <!-- <i class="fa-solid fa-bars"></i> -->
            <i class="ri-menu-line"></i>
        </div>
    </div>

    <!-- responsive dropdown  -->
    <div class="dropdown_menu">
        <li><a href="{% url 'home' %}"><i class="ri-home-line"></i>Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'vendors' %}">Vendors</a></li>
            <li><a href="{% url 'food' %}">
                <i class='bx bx-bowl-hot'></i>Food Stories
            </a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
    </div>
</header>