  <!--  Header -->
  <header id="header">
    <div class="navbar">
        <div class="logo"><a href="#">Deli Greece</a></div>

        <ul class="links">
            <li>
                <a href="{% url 'home' %}">
                    <i class="ri-home-line"></i>Home
                </a>
            </li>

            <li>
                <a href="{% url 'products' %}">Products</a>
            </li>

            <li>
                <a href="{% url 'vendors' %}">
                <i class='bx bxs-store'></i> 
                Vendors
                </a>
            </li>

            <li>
                <a href="{% url 'food' %}">
                    <i class='bx bx-bowl-hot'></i>
                    Food Stories
                </a>
            </li>

            <li>
                <a href="{% url 'producers' %}">
                <i class='bx bxs-store'></i>
                    Producers
                </a>
            </li>
            
            <li>
                <a href="{% url 'about' %}">
                    About Us
                </a>
            </li>

            <li>
                <a href="{% url 'contact' %}">
                    Contact
                </a>
            </li>
            {% comment %} <li>
                <a href="{% url 'dashboard' %}">
                    Dashboard
                </a>
            </li> {% endcomment %}
            
            {% comment %} <li>
                <a href="{% url 'accounts' %}">
                    Accounts
                </a>
            </li> {% endcomment %}

            <li>
                {% if user.is_authenticated %}
                    {{ user }}
                {% else %}
                <i class='bx bx-user' style='color:#000' ></i>
                <a href="{% url 'dashboard' %}">
                    Login
                </a>
                {% endif %}
            </li>

        </ul>
        <div class="toggle_btn" id="toggle-btn">
            <!-- <i class="fa-solid fa-bars"></i> -->
            <i class="ri-menu-line"></i>
        </div>
    </div>

    <!-- responsive dropdown  -->
    <div class="dropdown_menu">
        <li>
            <a href="{% url 'home' %}"><i class="ri-home-line"></i>Home</a>
        </li>
        <li>
            <a href="{% url 'products' %}">Products</a>
        </li>
        <li><a href="{% url 'vendors' %}">
                <i class='bx bxs-store'></i>
                Vendors</a>
        </li>
        <li>
            <a href="{% url 'food' %}">
                <i class='bx bx-bowl-hot'></i>Food Stories
            </a>
        </li>
        <li>
            <a href="{% url 'producers' %}">
                <i class='bx bxs-store'></i> Producers
            </a>
        </li>

        <li>
            <a href="{% url 'about' %}">About Us</a>
        </li>

        <li>
            <a href="{% url 'contact' %}">Contact</a>
        </li>

        <li>
            {% if user.is_authenticated %}
                {{ user }}
            {% else %}
            <i class='bx bx-user' style='color:#000' ></i>
            <a href="{% url 'dashboard' %}">
                Login
            </a>
            {% endif %}
        </li>
        
    </div>
</header>